results/LQcl_representative_MAGs_all_info.xlsx
input/LQ_gtdbtk.bac120.summary.tsv
input/LQ_gtdbtk.ar53.summary.tsv
results/LQcl_all_bins_all_info.xlsx
input/LQ_genomeInformation.csv
input/LQ_Cdb.csv
input/LQ_Bdb.csv
input/2023_Pantiukh_EstMB_MAGsDB_LQcl.csv
input/HQ_genomeInformation/genomeInformation_1.csv
input/HQ_genomeInformation/genomeInformation_2.csv
input/HQ_genomeInformation/genomeInformation_3.csv
input/HQ_genomeInformation/genomeInformation_4.csv
input/HQ_genomeInformation/genomeInformation_5.csv
input/HQ_genomeInformation/genomeInformation_6.csv
input/HQ_genomeInformation/genomeInformation_7.csv
input/HQ_genomeInformation/genomeInformation_8.csv
input/HQ_genomeInformation/genomeInformation_9.csv
input/HQ_genomeInformation/genomeInformation_10.csv
input/HQ_Cdb/Cdb_1.csv
input/HQ_Cdb/Cdb_2.csv
input/HQ_Cdb/Cdb_3.csv
input/HQ_Cdb/Cdb_4.csv
input/HQ_Cdb/Cdb_5.csv
input/HQ_Cdb/Cdb_6.csv
input/HQ_Cdb/Cdb_7.csv
input/HQ_Cdb/Cdb_8.csv
input/HQ_Cdb/Cdb_9.csv
input/HQ_Cdb/Cdb_10.csv
input/HQ_gtdbtk.bac120.summary.tsv
results/HQcl_representative_MAGs_all_info.xlsx
results/HQcl_all_bins_all_info.xlsx
input/HQ_Cdb.csv
input/2023_Pantiukh_EstMB_MAGsDB_Hqcl.csv
input/HQ_rename.csv
input/LQ_rename.csv
results/ALLcl_representative_MAGs_all_info.xlsx
results/ALLcl_all_bins_all_info.xlsx
input/HQLQcl_representative_genomes_list.csv
results/together_HQLQcl_all_MAGs_all_info.xlsx
results/together_HQLQcl_representative_MAGs_all_info.xlsx
input/HQLQcl_together_Cdb.csv
input/LQ_bins_without_cl/bin2_gtdbtk.bac120.summary.tsv
input/LQ_bins_without_cl/bin3_gtdbtk.ar53.summary.tsv
input/LQ_bins_without_cl/bin3_gtdbtk.bac120.summary.tsv
input/LQ_bins_without_cl/bin2_gtdbtk.ar53.summary.tsv
results/LQ_bins_without_cl_b2b3.xlsx
